<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.asparksys.com/medias/1674749298902.css">

</head>
<body>
    
    <a href="{% url 'khalti_payment' %}">
        <div class="balance">
            <i class="fas fa-coins"></i>
            <span></span>
          </div>
          <div class="buy">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span>Khalti!</span>
            <small>US$39,99</small>
            <div class="download">
              <i class="fas fa-shipping-fast" aria-hidden="true"></i>
            </div>
          </div>
    </a>

     
    <a href="{% url 'stripe_payment' %}">
      <div class="balance">
          <i class="fas fa-coins"></i>
          <span></span>
        </div>
        <div class="buy">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span>Stripe!</span>
          <small>US$39,99</small>
          <div class="download">
            <i class="fas fa-shipping-fast" aria-hidden="true"></i>
          </div>
        </div>
  </a>
</body>
</html>